<div class="d-flex flex-column position-relative auto-p section bg-top " id="o-grande-lider">
    <div class="sectionHeader_LBPx mb-5">
        <div class="titleHolder_pr8n ">
            <h2 class="title_1zyY over"><span data-gettext-identifier="related-content-colorstory">Crônicas dos Ventos</span>
            </h2>
            <figure class="flourish_3IhF">
                <div class="flourishStick_S-mK"></div>
            </figure>
            <div class="childHolder_3vlx"></div>
        </div>
        <div class="text-grey">As lendas são como os ventos: sussurram pelos vales, rugem nas montanhas e dançam sobre
            os mares. Assim são as histórias da guilda Ventos do Norte, guerreiros e guardiões cujo nome ecoa entre reis
            e andarilhos. Suas crônicas são contadas junto ao crepitar das fogueiras e registradas nos tomos dos
            eruditos, pois cada feito molda o destino dos povos e das terras que atravessam.

            Desde os primórdios, os Ventos do Norte foram mais que uma irmandade: foram uma forja de heróis. Eryndor, O
            Batedor Silencioso, guiava com coragem e astúcia. Kaelen, seu irmão,. Freya, o espírito errante, pairava
            entre o mundo dos vivos e o dos segredos ocultos. Bjorn, O Escudo Indestrutível, era a resistência que
            resistia às tempestades. Selene, de olhos afiados,  manejava a lâmina como um artista esculpe sua obra

            Nestas crônicas se encontram as batalhas travadas contra horrores além do entendimento humano, as alianças
            formadas com reinos e tribos, as vitórias e derrotas que esculpiram a lenda dos Ventos do Norte. Cada nova
            jornada se inicia com um chamado e se encerra com um eco nos ventos, pois aqueles que desafiam a escuridão
            nunca desaparecem, eles se tornam parte do próprio sopro do vento.
        </div>
    </div>
    <app-read class="position-relative z-1"></app-read>
    <div class="img-end d-flex justify-content-end position-absolute align-items-end">
        <img src="../../../assets/img/qw.png" alt="" class="img-size">
    </div>
    <div class="text-grey sectionHeader_LBPx mb-5">
        Nestas crônicas se encontram as batalhas travadas contra horrores além do entendimento humano, as alianças
        formadas com reinos e tribos, as vitórias e derrotas que esculpiram a lenda dos Ventos do Norte. Cada nova
        jornada se inicia com um chamado e se encerra com um eco nos ventos, pois aqueles que desafiam a escuridão nunca
        desaparecem, eles se tornam parte do próprio sopro do destino.
    </div>

    <div class="bg-top d-flex justify-content-end">
        <div class="w-50 mt-5">

        </div>
        <div class="w-50 d-flex justify-content-end align-items-end p-custom text-justify mt-5">
            <p class="text-custom text-white">
                "Quando a lua sangrar sobre as montanhas prateadas e o eco dos antigos for quebrado, os Ventos não mais guiarão, mas se perderão na tormenta. Das sombras erguer-se-á o Rei das Cinzas, e sua fúria varrerá as terras de Gelion. Aqueles que caminham entre os mundos verão o véu se romper, e a verdade esquecida despertará. Mas lembrem-se: nem todo destino pode ser mudado, e nem toda lenda termina com glória."

            </p>
        </div>

    </div>

</div>
