<div class="bg-dark">
    <div class="bg-img d-flex flex-column custom-container">
        <div class="title text-white w-100 custom-title custom-border d-flex justify-content-center align-items-center">
            <div class="text">
                title
            </div>
        </div>
        <div class="body-text text-white d-flex flex-row">
            <div class="content-text-history custom-border w-100 d-flex justify-content-center align-items-center">
                text
                <div class="msg">texto</div>
            </div>
            <div class="content-details">
                <div class="icon-img">
                    <img src="../../../assets/img/logo.png" alt="" class="size-img">
                </div>
                <div class="custom-border">
                    <div class="paper">
                        <div class="title-paper">
                            Papel na Guilda:
                        </div>
                        <ul>
                            <li>Mestre dos Batedores</li>
                            <li>Guardião das Fronteiras</li>
                        </ul>
                    </div>
                    <div class="sub-datails">
                        Raça: Humano
                        Forma Animal: Lobo Negro
                    </div>
                    <div class="msg">texto</div>
                </div>
            </div>
        </div>
    </div>
</div>