<div class="d-flex flex-column  auto-p  bg-top" id="members">
  <div class="d-flex text-white  justify-content-center">
    <div class="d-flex flex-column auto-w auto-m content bg-text-content">
      
      <div class="d-flex title text-uppercase align-items-center justify-content-center gap-2 text-white mb-5">
        <div class="d-flex pt-1 fs-2 flex-column justify-content-center align-items-center" id="history">
          Guilda Ventos do Norte 
          <a [routerLink]="'/'" [fragment]="'members'">
            <i class="bi bi-chevron-double-down"></i>
          </a>
        </div>
      </div>

    
      <div class="card-container d-grid text-white mb-5">
        
        
        <div *ngFor="let item of items" class="text-white">
          <div 
            class="card border-card bg-top-card" 
            style="width: 18rem;"  
            [ngStyle]="{ 'background-image': 'url(assets/img/guilda/' + item.images + ')' }"
          >
            <div class="card-body bg-text-card d-flex align-items-center justify-content-center-card flex-column">
              <h5 class="card-title text-white">{{ item.nome }}</h5>
              <p class="card-text text-white">{{ item.titulo }}</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
