<div class="fullscreen-modal">
  <div class="modal-content" [ngStyle]="item?.images ? {'background-image': 'url(assets/img/guilda/' + item.images + ')'} : {}">
    
    <button (click)="closeModal()" class="close-btn z-index-custom-btn">X</button>
    <div class="title custom-border z-index-custom over ">
      <h2 class="text-white over">{{ item?.nome }}</h2>
      <p class="text-white z-index-custom">{{ item?.titulo }}</p>
    </div>
    
    <img *ngIf="item?.images" [src]="'assets/img/guilda/' + item.images" alt="Imagem da Guilda">
  </div>
</div>
