/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('assets/fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Light';
  src: url('assets/fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Italic';
  src: url('assets/fonts/Merriweather-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  
  /* Faz a rolagem suave */
}

body {
  padding-top: 110px;
  font-family: 'Merriweather-Light', sans-serif;
  /* Definindo fonte padrão */
}

.text-justify {
  text-align: justify;
}

.cursor-pointer {
  cursor: pointer;
}
