$spacer: 1rem;

.bg-top{
  background-image: url(../../../assets/img/top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.px-1{
  padding-left: ($spacer * 10) !important;
  padding-right: ($spacer * 10) !important;
}


.bg-img {

  background-size: cover;
  background-repeat: no-repeat;
}

.auto-flex {
  flex-direction: column;
}


.title {
  font-family: "Merriweather-bold";
  margin-top: 20rem;

}

.mb-5{
  margin-bottom: ($spacer * 10) !important;
}

.bg-text-content{
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 49%, rgba(17, 0, 0, 0.6277109621451105) 60%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
}

.text-content {
  font-family: 'Merriweather-light';
  font-size: 1rem;
  text-align: justify;
  flex-direction: column;

}


.auto-p {
  padding-top: 80px;
}

@media only screen and (max-width: 800px) {
  .px-1 {
      padding-left: ($spacer * 5) !important;
      padding-right: ($spacer * 5) !important;

    }
}

@media only screen and (max-width: 400px) {
  .px-1 {
    padding-left: ($spacer * 0) !important;
    padding-right: ($spacer * 0) !important;

  }
}
